<footer class="footer d-flex flex-column flex-md-row justify-content-center justify-content-md-between">
    <div class="text-center ml-5">
      <a routerLink="/home"><img src="../../assets/Home.svg" alt=""></a>
      <div class="x">Home</div>

    </div>
    <div class="text-center">
      <a routerLink="/search"><img src="../../assets/Search.svg" alt=""></a>
      <div class="x">Home</div>

    </div>
    <div class="text-center">
      <a routerLink="/saved"><img src="../../assets/Save.svg" alt=""></a>
      <div class="x">Home</div>
    </div>
  </footer>
  