html,body{
         
    margin: 0 0  ;
    padding: 0;
    background: #242A32;   
    height: 100vh;
   
}
.container {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /* Diğer stil özelliklerini burada belirtebilirsiniz */
    background: #242A32;   

  }