
div{
display: flex;
width: auto;
flex-direction: column;
flex-shrink: 0;}    

p{
    color: #FFF;
font-size: 22px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
}